header#banner.hero-unit
  .container
    h1 OWee, OWee!
    p.lead
      | Het is belangrijk dat iedereen helpt in de OWee.
      | Geef hier aan wanneer je beschikbaar bent en wat je wilt doen.

    img(src='assets/images/makeamove.png', alt='Make a Move!', width='30%', height='30%')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Bondsleden:
//-       ul.col-md-4.col-lg-4.col-sm-6(ng-repeat='bondslid in $ctrl.bondsleden')
//-         li
//-           a(href='/api/bondsleden/{{bondslid._id}}', uib-tooltip='{{bondslid.email}}')
//-             | {{bondslid.firstname}} {{bondslid.lastname}}

.container
  .row
    .col-lg-12
      h1.page-header Timetable:
      //- .btn-group
      //- button.btn.btn-success(ng-click="changeView('agendaDay', 'myCalendar1')") AgendaDay
      //- button.btn.btn-success(ng-click="changeView('agendaWeek', 'myCalendar1')") AgendaWeek
      //- button.btn.btn-success(ng-click="changeView('month', 'myCalendar1')") Month
      .calendar(ng-model='eventSources', calendar='myCalendar1', ui-calendar='uiConfig.calendar')