.thing-form
  margin 20px 0

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  // background #4393B9
  background #FFB359 // OC oranje
  color #F5F5F5
  // color #8AD2E6 // OC blauw
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.navbar-text
  margin-left 15px

screen_min_width_960 = "only screen and (min-width: 960px)"
@media screen_min_width_960
  .timetable 
    aside
      width 15%
      
    section
      width 85%

screen_max_width_960 = "only screen and (max-width: 960px)"
@media screen_max_width_960
  .timetable 
    aside
      width 15%
      
    section
      width 85%

screen_max_width_640 = "only screen and (max-width: 750px)"
@media screen_max_width_640
  .timetable 
    aside
      width 20%
    
    section
      width 80%
      
screen_max_width_550 = "only screen and (max-width: 550px)"
@media screen_max_width_550
  .timetable 
    aside
      width 35%
    
    section
      width 65%

input
  margin 10px
