.thing-form
  margin 20px 0

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  // background #4393B9
  background #FFB359 // OC oranje
  color #F5F5F5
  // color #8AD2E6 // OC blauw
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.navbar-text
  margin-left 15px

screen_min_width_960 = "only screen and (min-width: 960px)"
@media screen_min_width_960
  .timetable 
    aside
      width 15%
      
    section
      width 85%

screen_max_width_960 = "only screen and (max-width: 960px)"
@media screen_max_width_960
  .timetable 
    aside
      width 15%
      
    section
      width 85%

screen_max_width_640 = "only screen and (max-width: 750px)"
@media screen_max_width_640
  .timetable 
    aside
      width 20%
    
    section
      width 80%
      
screen_max_width_550 = "only screen and (max-width: 550px)"
@media screen_max_width_550
  .timetable 
    aside
      width 35%
    
    section
      width 65%

input
  margin 10px

// form:not([novalidate]) input:required,
// form:not([novalidate]) textarea:required {
//   background: orange;
// }

form:not([novalidate]) input:required:valid,
form:not([novalidate]) textarea:required:valid {
  background: #18bc9c;
  -webkit-box-shadow: 0 0 5px #5cd053;
  box-shadow: 0 0 5px #5cd053;
  -o-box-shadow: 0 0 5px #5cd053;
  -moz-box-shadow: 0 0 5px #5cd053;
  border-color: #28921f
}

form:not([novalidate]) input:not(:focus):valid,
form:not([novalidate]) textarea:not(:focus):valid {
  box-shadow: none;
  border: 1px solid #d2d2d2
}

form:not([novalidate]) input:focus:invalid,
form:not([novalidate]) textarea:focus:invalid {
  background: orange;
  -webkit-box-shadow: 0 0 5px #d45252;
  box-shadow: 0 0 5px #d45252;
  -o-box-shadow: 0 0 5px #d45252;
  -moz-box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}
