header#banner.hero-unit
  .container
    h1 OWee, OWee!
    p.lead
      | Het is belangrijk dat iedereen helpt in de OWee.
      | Geef hier aan wanneer je beschikbaar bent en wat je wilt doen.

    img(src='assets/images/makeamove.png', alt='Make a Move!', width='30%', height='30%')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Bondsleden:
//-       ul.col-md-4.col-lg-4.col-sm-6(ng-repeat='bondslid in $ctrl.bondsleden')
//-         li
//-           a(href='/api/bondsleden/{{bondslid._id}}', uib-tooltip='{{bondslid.email}}')
//-             | {{bondslid.firstname}} {{bondslid.lastname}}


.container
  .row
    .col-lg-12
      h1.page-header Timetable:
      .timetable

.modal.fade#myModal(tabindex="-1", role="dialog", aria-labelledby="Test Modal")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &times;
        h4.modal-title(id="Test Modal") Title
      .modal-body
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
        button.btn.btn-primary(type="button") Save changes

.modal.fade#myInlogModal(tabindex="-1", role="dialog", aria-labelledby="Test Modal")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &times;
        h4.modal-title(id="Test Modal") Login
      .modal-body
        form.form-inline
          .form-group
            label Naam
            input(type="text", id="voornaam", placeholder="Voornaam").form-control
            input(type="text", id="achternaam", placeholder="Achternaam").form-control
          .form-group
            label(for="inputEmail") Email
            input(type="email", id="email", placeholder="Email").form-control
      .modal-footer
        //- button.btn.btn-default(type="button", data-dismiss="modal") Close
        button.btn.btn-primary(type="button") Log in ...
